[submodule "modules/konsole-front"]
	path = modules/konsole-front
	url = https://github.com/Kirakira-Games/BanGround-Konsole.git
[submodule "Packages/FancyScrollView"]
	path = Packages/FancyScrollView
	url = https://github.com/Kirakira-Games/FancyScrollView.git
	branch = upm
[submodule "Assets/Plugins/Hidden"]
	path = Assets/Plugins/Hidden
	url = https://github.com/Kirakira-Games/HiddenPlugins.git
