# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
*.pidb.meta
*.pdb.meta
sysinfo.txt
*.apk
*.unitypackage

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vscode/
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/StaticLibrary/main.c
/StaticLibrary/libs/x86_64/libutil.so
/StaticLibrary/libs/x86_64
/StaticLibrary/libs/x86/libutil.so
/StaticLibrary/libs/x86/libutil.idb
/StaticLibrary/libs/x86
/StaticLibrary/libs/libs.7z
/StaticLibrary/libs/armeabi-v7a/libutil.so
/StaticLibrary/libs/armeabi-v7a/libutil.idb
/StaticLibrary/libs/armeabi-v7a
/StaticLibrary/libs/arm64-v8a/libutil.so
/StaticLibrary/libs/arm64-v8a
/StaticLibrary/libs
/StaticLibrary/jni/main.c
/StaticLibrary/jni/Android.mk
/StaticLibrary/jni
/StaticLibrary
/Assets/Plugins/Util.meta
/Assets/Plugins/Util/x86.meta
/Assets/Plugins/Util/x86/libutil.so.meta
/Assets/Plugins/Util/x86/libutil.so
/Assets/Plugins/Util/x86
/Assets/Plugins/Util/armeabi-v7a.meta
/Assets/Plugins/Util/armeabi-v7a/libutil.so.meta
/Assets/Plugins/Util/armeabi-v7a/libutil.so
/Assets/Plugins/Util/armeabi-v7a
/Assets/Plugins/Util/arm64-v8a.meta
/Assets/Plugins/Util/arm64-v8a/libutil.so.meta
/Assets/Plugins/Util/arm64-v8a/libutil.so
/Assets/Plugins/Util/arm64-v8a
/Assets/Plugins/Util
/Assets/Plugins
/Assets/Codes/InGame/Utility/EGL.cs.meta
/Assets/Codes/InGame/Utility/EGL.cs
/Assets/Codes/InGame/Utility
/Assets/Codes/Config.meta
/Assets/Codes
/Assets
