[submodule "modules/konsole-front"]
	path = modules/konsole-front
	url = https://github.com/Kirakira-Games/BanGround-Konsole.git
[submodule "modules/SELib"]
	path = modules/SELib
	url = https://github.com/dtzxporter/SELibDotNet.git
